[Unit]
Description=Proxy between given GCI service and Osmocom CTRL protocol

[Service]
Type=simple
Restart=always
ExecStart=python3 /usr/bin/ctrl2cgi.py -o -d -c /etc/osmocom/ctrl2cgi.ini
RestartSec=2

[Install]
WantedBy=multi-user.target
